<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body>
<div class="popover-header" style="background-color: #eee; color: #333;">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">

        <!-- Company Logo -->
        <a onclick="location.href='/'"
           class="d-flex align-items-center col-md-3 text-dark text-decoration-none"
           style="font-size: xx-large">
            <img src="../images/website_logo.jpg"
                 alt="Botanical Lens" class="" width="100" height="60" style="margin: 2%"/>

        </a>
        <form class="d-flex ms-1 border rounded-2 w-50">
            <input class="form-control" id="searchbox" type="search" placeholder="Search for a Plant" aria-label="Search">
        </form>
        <!-- Navigation Bar -->
        <ul class=" nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-dark"
                   style="font-size: large">Add Plant</a>
            </li>
            <li><a onclick="location.href='/'" class="nav-link px-2 link-dark" style="font-size: large">Contact</a>
            </li>
            <li><a onclick="location.href='/'" class="nav-link px-2 link-dark" style="font-size: large">FAQs</a>
            </li>
            <li><a onclick="location.href='/'" class="nav-link px-2 link-dark" style="font-size: large">About</a>
            </li>
        </ul>

    </header>
</div>
</body>