.list-group-item:hover .edit-button-container {
    display: block !important;
}

.edit-button-container {
    font-size: 1.2rem;
}

.edit-button {
    transition: color 0.3s ease;
}

.edit-button:hover {
    color: #007bff !important;
}

/* Edit mode container */
.edit-mode .d-flex {
    flex-grow: 1;
}

.edit-mode textarea {
    flex-grow: 1; /* Let the textarea grow to fill available space */
    width: 300px; /* Set the width to 100% */
    margin-right: 10px; /* Optional: add margin between textarea and button container */
}

.edit-button-container {
    display: none;
    gap: 10px; /* Optional: gap between the buttons */
}

/* Style all textarea elements to have the same fixed height */
textarea.form-control {
    height: 40px; /* Adjust the value as necessary */
    resize: none; /* Prevent resizing */
}
.list-group-item .edit-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
}

.list-group-item .edit-button-container .btn {
    margin-left: 10px; /* Optional: Add spacing between buttons */
}


