.list-group-item:hover .edit-button-container {
    display: block !important;
}

.edit-button-container {
    font-size: 1.2rem;
}

.edit-button {
    transition: color 0.3s ease;
}

.edit-button:hover {
    color: #007bff !important;
}

/* Edit mode container */
.edit-mode .d-flex {
    flex-grow: 1;
}

.edit-mode textarea {
    flex-grow: 1;
    margin-right: 10px; /* Optional: add margin between textarea and button container */
}

.edit-button-container {
    display: none;
    gap: 10px; /* Optional: gap between the buttons */
}