.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}

.image-wrapper {
    flex-basis: 200px;
    flex-grow: 1;
}

.image {
    max-width: 100%;
    height: auto;
}