.card-body h2{
    line-height: 31px;
    font-weight: bold;
    font-size: 20px;
}

.card-body p{
    font-size: 18px;
    line-height: 1.6em;
}

.carousel-item{
    height: 400px;
}

#plantCarousel{
    margin-top: 2% !important;
}
.carousel-control-prev-icon {
    margin-right: 70%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    margin-left: 70%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.map-info {
    position: relative;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    color: #fff;
}


