.list-group-item:hover .edit-button-container {
    display: block !important;
}

.edit-button-container {
    font-size: 1.2rem;
}

.edit-button {
    transition: color 0.3s ease;
}

.edit-button:hover {
    color: #007bff !important;
}

.edit-mode .d-flex {
    flex-grow: 1;
}

.edit-mode textarea {
    flex-grow: 1;
    width: 300px;
    margin-right: 10px;
}

.edit-button-container {
    display: none;
    gap: 10px;
}

textarea.form-control {
    height: 40px;
    resize: none;
}
.list-group-item .edit-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.list-group-item .edit-button-container .btn {
    margin-left: 10px;
}



