.list-group-item:hover .edit-button-container {
    display: block !important;
}

.edit-button-container {
    font-size: 1.2rem;
}

.edit-button {
    transition: color 0.3s ease;
}

.edit-button:hover {
    color: #007bff !important;
}

.edit-mode .d-flex {
    flex-grow: 1;
}

.edit-mode textarea {
    flex-grow: 1;
    width: 300px;
    margin-right: 10px;
}

.edit-button-container {
    display: none;
    gap: 10px;
}

textarea.form-control {
    height: 40px;
    resize: none;
}
.list-group-item .edit-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.list-group-item .edit-button-container .btn {
    margin-left: 10px;
}

/* Base chat bubble styling */
.chat-bubble {
    max-width: 60%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

/* Chat bubble for messages from others */
.chat-left {
    background-color: #f1f0f0;
    text-align: left;
    float: left;
    clear: both;
    border-top-left-radius: 0;
    margin-left: 10px;
}

/* Chat bubble for your own messages */
.chat-right {
    background-color: #d1ffd1;
    text-align: right;
    float: right;
    clear: both;
    border-top-right-radius: 0;
    margin-right: 10px;
}

/* Clear float styling */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

